#overlay {
  position: absolute;
  top: 0;
  left: 0;
}

.container {
  position: relative;
  margin-top: 20px;
}

body {
  color: white;
  background: url(https://puu.sh/CK2Zk/baf41e0724.png);
  background-repeat: repeat-x;
}

.link {
  color: white;
}
